body{
    margin: 0;
    font-family: arial, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 1rem;
}

.logo{
    color: white;
    font-size: 1.5rem;
}

.menu{
    display: none;
    flex-direction: column;
    background:#4444;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 280px;
}

.menu a{
    color: white;
    padding: 1rem;
    text-decoration: none;
    display: block;
}

.hamburger{
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

/* tablet and desktop */ @media(min-width:768px){
    .menu{
        display: flex;
        flex-direction: row;
        position: static;
        background:none;
        width: auto;
    }
    .hamburger{
        display: none;
    }
}