.container {
    display: flex;
    border: 1px solid black;
    background-color: beige;
    height: 600px;
    width: 1000px;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    gap: 60px;

}

.item {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: chocolate;
    align-content:center;
    text-align: center;
    flex-grow: 1;
}

.item2 {
    order: -1;
    flex-grow: 2;
}